.player {
    width: 800px;
    height: 600px;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
}
.video-container {
    width: 100%;
    height: 100%;
}
.video-buttons-container {
    background-color:black;
}
.video-buttons {
    border:none;
    cursor:pointer;
    color:white;
    background-color:transparent;
}