.player {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
}
.video-container {
    flex-grow: 1;
}
.video-buttons-container {
    background-color: black;
    display: flex;
    flex-direction: row;
}
.video-buttons {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 1.5;
    border: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
}
.empty {
    flex-grow: 1;
}